<launch>
   <arg name="use_sim_time" default="true"/>
   <arg name="gui" default="false"/>
   <arg name="world_name" default="$(find sara_gazebo)/worlds/house.world"/>

<!-- Load world -->
  <include file="$(find sara_gazebo)/launch/spawn_world.launch">
     <arg name="use_sim_time" value="$(arg use_sim_time)"/>
     <arg name="gui" value="$(arg gui)"/>
     <arg name="world_name" value="$(arg world_name)"/>
  </include>

   <!-- Spawn model -->
   <include file="$(find sara_gazebo)/launch/spawn_sara.launch"/>

</launch>
